/* ============ Config Geral ========= */
button{
	font: bold 11px arial,sans-serif;	
	width:100px;
	height:27px;
	color: #ffffff;
	padding: 5px 5px;
	cursor:pointer;	
}

/* ============ Hangout ========= */

button.hangout{
	background: -moz-linear-gradient(
		top,
		#3e9400 0%,
		#3e9400);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3e9400),
		to(#3e9400));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #28691d;
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0),
		inset 0px 0px 1px rgba(255,255,255,0.4);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0),
		inset 0px 0px 1px rgba(255,255,255,0.4);
	text-shadow:0 1px rgba(0, 0, 0, 0.1);
}

button.hangout:hover{
	background: -moz-linear-gradient(
		top,
		#3e9400 0%,
		#378300);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3e9400),
		to(#378300));
	-moz-box-shadow:
		-1px 2px 2px rgba(10,10,10,0.1),
		inset 0px 0px 1px rgba(255,255,255,0.4);
	-webkit-box-shadow:
		-1px 2px 2px rgba(10,10,10,0.1),
		inset 0px 0px 1px rgba(255,255,255,0.4);
}

button.hangout:active {
	background: -moz-linear-gradient(
		top,
		#3e9400 0%,
		#378300);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3e9400),
		to(#378300));
	border: 1px solid #28691d;
	-moz-box-shadow:
		-1px 2px 2px rgba(10,10,10,0.1),
		inset 0px 0px 1px rgba(5,5,5,0.4);
	-webkit-box-shadow:
		-1px 2px 2px rgba(10,10,10,0.1),
		inset 0px 0px 1px rgba(5,5,5,0.4);
}



/* ============ Editar ========= */
button.editar {
	background: -moz-linear-gradient(
		top,
		#4c90fc 0%,
		#4c90fc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#4c90fc),
		to(#4c90fc));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #3079ed;
	-moz-box-shadow:
		-1px 2px 2px rgba(10,10,10,0),
		inset 0px 0px 1px rgba(255,255,255,0);
	-webkit-box-shadow:
		-1px 2px 2px rgba(10,10,10,0),
		inset 0px 0px 1px rgba(255,255,255,0);
	text-shadow:
		0px 1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,0);
}

button.editar:hover {
	background: -moz-linear-gradient(
		top,
		#4c90fc 0%,
		#367be9);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#4c90fc),
		to(#367be9));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #3079ed;
	-moz-box-shadow:
		-1px 2px 2px rgba(10,10,10,0.1),
		inset 0px 0px 1px rgba(255,255,255,0);
	-webkit-box-shadow:
		-1px 2px 2px rgba(10,10,10,0.1),
		inset 0px 0px 1px rgba(255,255,255,0);
	text-shadow:
		0px 1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,0);
}

button.editar:active{
		background: -moz-linear-gradient(
			top,
			#4c90fc 0%,
			#367be9);
		background: -webkit-gradient(
			linear, left top, left bottom, 
			from(#4c90fc),
			to(#367be9));
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border: 1px solid #3079ed;
		-moz-box-shadow:
			-1px 2px 2px rgba(10,10,10,0),
			inset 0px 0px 1px rgba(0,0,0,0.3);
		-webkit-box-shadow:
			-1px 2px 2px rgba(10,10,10,0),
			inset 0px 0px 1px rgba(0,0,0,0.3);
		text-shadow:
			0px 1px 0px rgba(000,000,000,0.1),
			0px 1px 0px rgba(255,255,255,0);
	
}


/* ========= Escrever Email ========= */
button.newEmail {
	width:130px;
	background: -moz-linear-gradient(
		top,
		#dd4c39 0%,
		#dd4c39);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dd4c39),
		to(#dd4c39));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #b0291a;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(51,48,46,0.3),
		0px 0px 0px rgba(227,103,50,0.5);
}

button.newEmail:hover {
	background: -moz-linear-gradient(
		top,
		#dd4c39 0%,
		#c63828);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dd4c39),
		to(#c63828));
	border: 1px solid #b0291a;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(51,48,46,0.3),
		0px 1px 0px rgba(227,103,50,0.5);
}

button.newEmail:active {
	background: -moz-linear-gradient(
		top,
		#dd4c39 0%,
		#c63828);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dd4c39),
		to(#c63828));
	border: 1px solid #b0291a;
	-moz-box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 1px rgba(31,31,31,0.5);
	-webkit-box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 1px rgba(31,31,31,0.5);
	text-shadow:
		0px -1px 0px rgba(51,48,46,0.3),
		0px 1px 0px rgba(227,103,50,0.5);
}





